footer {
  position: absolute;
  z-index: 10;
  margin-top: 60px;
  display: flex;
  width: 100%;
  box-shadow: 0px -1px 1px #fff;
  background: #000;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
}

footer * {
  margin: 5px;
  margin-bottom: 0;
}
