* {
  font-size: 25px;
  text-shadow: 1px 1px 0px #f00, -1px -1px 0px #0ef;
}
#nav {
  box-shadow: 0px 1px 6px #fff;
  background: #000;
}
#search {
  width: 300px;
  background: #f00;
}

.nav-link-hover:hover {
  color: #000 !important;
}

.no-hover:hover {
  text-decoration: none;
}
